- content_for :js do
  = javascript_include_tag 'redactor'
- content_for :stylesheets do
  = stylesheet_link_tag 'redactor'
= render 'shared/header_big', overlayer: true

.user-dashboard-edit
  .hero-small
    .w-container
      .w-row.u-text-center.content-hero-profile
        .w-col.w-col-3
        .w-col.w-col-6
          .fontsize-larger.fontweight-semibold.u-marginbottom-10
            = resource.decorate.display_name
        .w-col.w-col-3
    .hero-profile style="background-image: url('#{resource.cover_image.try(:base).try(:url) || resource.uploaded_image.url}')"

  
  nav.dashboard-nav.u-text-center style='z-index: 10; position: relative;'
    .w-container
      = link_to '#contributions', id: 'dashboard_contributions_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_contributions' } do
        | Apoyados

      = link_to '#projects', id: 'dashboard_projects_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_projects' } do
        | Creado

      = link_to '#about_me', id: 'dashboard_about_me_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_about_me' } do
        | Sobre usted

      = link_to '#settings', id: 'dashboard_settings_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_settings' } do
        | Datos y dirección
      
      = link_to '#notifications', id: 'dashboard_notifications_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_notifications' } do
        | Notificaciones

      = link_to '#billing', id: 'dashboard_billing_link', class: 'dashboard-nav-link ' , data: {target: '#dashboard_billing' } do
        | Tarjetas bancarias

      = link_to user_path(resource), class: 'dashboard-nav-link u-right-big-only' do
        | Saltar al perfil público
      /span style='visibility: hidden;'
        = link_to '#feeds', id: 'dashboard_feeds_link', class: 'dashboard-nav-link' , data: {target: '#dashboard_feeds' } do
          | Actividades


  section.section-one-column
    #current_anchor data-anchor="#{params[:anchor]}"
    .w-container
      .w-row
        article
          /#dashboard_feeds.content.w-hidden
            = render 'dashboard_feeds'
          #dashboard_contributions.content.w-hidden
            = render 'dashboard_contributions'
          #dashboard_projects.content.w-hidden
            - if !@user.project_owner?
              .w-row.u-margintop-30.u-text-center
                .w-col.w-col-3
                .w-col.w-col-6
                  .fontsize-large.u-marginbottom-30 No ha creado ningún proyecto en la catarsis. Cree en tus sueños!  
                  .w-row
                    .w-col.w-col-3
                    .w-col.w-col-6
                      = link_to 'Únete a un proyecto!', start_path, class: 'btn btn-large'
                    .w-col.w-col-3
                .w-col.w-col-3
            - else
              .w-row
                == render_projects resource.projects, 'profile_dashboard_created_projects', { wrapper_class: 'w-col w-col-4 u-marginbottom-40' }
          #dashboard_about_me.content.w-hidden
            = render 'dashboard_about_me'
          #dashboard_settings.content.w-hidden
            = render 'dashboard_settings'
          #dashboard_notifications.content.w-hidden
            = render 'dashboard_notifications'
          #dashboard_billing.content.w-hidden
            = render 'dashboard_billing'

= render 'shared/footer_big'
